.list {
    display       : flex;
    flex-direction: column;
    margin        : 10px 0;
    padding       : 10px;
    width         : 80vh;
    border        : 2px solid #eee;

    h2 {
        margin-bottom: 10px;
    }
}