.container {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    padding        : 20px 0;

    .github {
        font-size          : xx-large;
        transition-duration: 300ms;
        color              : #000;

        &:hover {
            cursor: pointer;
            color : #22a2e3;
        }
    }
}